<ion-item lines="none" class="bg-card rounded-xl my-1" (click)="handleClick()" detail="false" button>
  <ion-avatar slot="start">
<img [appAuthenticatedImage]="authorImage" [alt]="fullName" loading="lazy" class="max-h-full max-w-full h-full" />
  </ion-avatar>
  <ion-label>
    <h3 class="font-medium">{{ fullName }}</h3>
    <p class="text-muted text-xs">
      <i class="fa-solid fa-book mr-1"></i>
      {{ author.availableBookCount }} / {{ author.bookCount }}
    </p>
  </ion-label>
  <i class="fa-solid fa-chevron-right text-muted" slot="end"></i>
</ion-item>
