<ion-header>
  <ion-toolbar>
    <ion-title>Server Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" [disabled]="firstRun || isVerifying">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Show error message if connection failed -->
  <ion-card *ngIf="verificationError" color="danger" class="ion-margin-bottom">
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" color="danger">
        <ion-icon name="warning-outline" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">{{ verificationError }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list inset>
      <ion-item>
        <ion-input
          label="Server URL"
          label-placement="stacked"
          placeholder="http://127.0.0.1:8787"
          formControlName="url"
          inputmode="url"
          required
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
          enterkeyhint="done">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="API Key"
          label-placement="stacked"
          formControlName="apiKey"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
          required
          type="password"
          enterkeyhint="done">
        </ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding-top">
      <ion-button
        expand="block"
        type="submit"
        [disabled]="isVerifying || !form.valid">
        <ion-spinner *ngIf="isVerifying" name="crescent" slot="start"></ion-spinner>
        <ion-icon *ngIf="isSuccess" name="checkmark-circle" slot="start"></ion-icon>
        <span *ngIf="!isVerifying && !isSuccess">Test and Save</span>
        <span *ngIf="isVerifying">Testing Connection...</span>
        <span *ngIf="isSuccess">Connected!</span>
      </ion-button>
    </div>
  </form>
</ion-content>
